@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

body {
    margin: 3%;
    background-color: #202124;
    color: white;
    overflow: hidden;
    font-family: "Lato", "sans-serif";
}

h1 {
    font-size: 1.5vw;
}

label {
    font-size: 1vw;
}

input {
    margin-left: 10px;
}


button {
    margin-top: 2%;
    font-size: 1.5vw;
    border-radius: 5px;
}

div#results {
    padding-top: 5%;
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
}